MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=lawazia
APP_ORIGIN=http://localhost:3000
SLOT_MINUTES=30
RIDER_NAME=Lawazia Rider
RIDER_EMAIL=rider@lawazia.org
RIDER_PASSWORD=